@page "/"

<div>
    <h2 align="center">Система контроля качества образования НЧОУ "СОШ ФК Краснодар" </h2>
</div>
<hr />
<br />
<div align="center">
    <img src="Images/logo.png" />
</div>
<br />
<div align="center">
    <a href="Identity/Account/Login" class="btn btn-primary">Авторизация</a>
</div>

@code {

}
