@page "/"

<div>
    <h2 align="center">Система контроля качества образования НЧОУ "СОШ ФК Краснодар" </h2>
</div>
<hr/>
<div align="center"><a href="Identity/Account/Login">Авторизация</a></div>

@code {

}
