

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">@context.User.Identity.Name</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="btn btn-danger">Выйти</button>
        </form>
    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</AuthorizeView>
